.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.game-details {
  background-color: #007bff;
  padding: 15px;
}

.genres, .platforms {
  background-color: #f3f3ff;
  padding: 5px;
  font-size: 14px;
  height: 45%;
  margin-bottom: 15px;
}

.genres ul, .platforms ul {
  list-style: none;
  margin-left: -45px;
  margin-top: 10px;
}

.genres li, .platforms li {
  float: left;
  margin-left: 5px;
  color: #007bff;
}

.platforms {
  height: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
